.reveal span.name {
  color: #e00;
  text-shadow: 1px 1px 1px black;
}

.reveal p.big {
  font-size: 80px;
}

.reveal img.screenshot {
  margin: 30px 50px;
}

.reveal div.span-half {
  float: left;
  width: 45%;
}

.reveal div.vr {
  float: left;
  border-left: 2px solid #eee8d5;
  min-height: 350px;
  margin: 0px 30px;
}
